.footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer table{
    width: 100%;
    text-align: center;
}

.footer table td{
    width: 33.33%
}

@media only screen and (max-width : 767px){
    .footer table{
        font-size: 10px;
    }
}