*{
    user-select: none;
}

.App {
    background-image: url('../public/images/bg.jpg');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Keeps the image centered within the container */
}

.DisplaySpace{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 530px){
    .DisplaySpace{
        justify-content: center;
        gap: 45px
    }
}